<h1> Login Here </h1>


<form action="/login" method="post">
  <div>
    <input name="email" type="text" placeholder="email" required="true" />
    <input name="password" type="text" placeholder="password" required="true" />
    <button>LOGIN</button>
  </div>
</form>
